mixin navOption(name,link,isActive)
  if isActive==true
    li.active
      a(href=link)=name
  else
    li
      a(href=link)=name

mixin OptionActive(navIndex)
  if navIndex=="1"
    +navOption("环境重置","/gxp/refresh",true)
    +navOption("地址及端口修改","/gxp/modify?envName=dev63",false)
    +navOption("二代环境管理","/gaps/cnaps-modify?envName=cnaps32",false)
    +navOption("电信诈骗黑灰名单维护","/gaps/dxzp?envName=gaps36",false)
    +navOption("二代来往帐日志快速定位","/gaps/cnaps-logs?envName=cnaps32",false)
  if navIndex=="2"
    +navOption("环境重置","/gxp/refresh",false)
    +navOption("地址及端口修改","/gxp/modify?envName=dev63",true)
    +navOption("二代环境管理","/gaps/cnaps-modify?envName=cnaps32",false)
    +navOption("电信诈骗黑灰名单维护","/gaps/dxzp?envName=gaps36",false)
    +navOption("二代来往帐日志快速定位","/gaps/cnaps-logs?envName=cnaps32",false)
  if navIndex=="3"
    +navOption("环境重置","/gxp/refresh",false)
    +navOption("地址及端口修改","/gxp/modify?envName=dev63",false)
    +navOption("二代环境管理","/gaps/cnaps-modify?envName=cnaps32",true)
    +navOption("电信诈骗黑灰名单维护","/gaps/dxzp?envName=gaps36",false)
    +navOption("二代来往帐日志快速定位","/gaps/cnaps-logs?envName=cnaps32",false)
  if navIndex=="4"
    +navOption("环境重置","/gxp/refresh",false)
    +navOption("地址及端口修改","/gxp/modify?envName=dev63",false)
    +navOption("二代环境管理","/gaps/cnaps-modify?envName=cnaps32",false)
    +navOption("电信诈骗黑灰名单维护","/gaps/dxzp?envName=gaps36",true)
    +navOption("二代来往帐日志快速定位","/gaps/cnaps-logs?envName=cnaps32",false)
  if navIndex=="5"
    +navOption("环境重置","/gxp/refresh",false)
    +navOption("地址及端口修改","/gxp/modify?envName=dev63",false)
    +navOption("二代环境管理","/gaps/cnaps-modify?envName=cnaps32",false)
    +navOption("电信诈骗黑灰名单维护","/gaps/dxzp?envName=gaps36",false)
    +navOption("二代来往帐日志快速定位","/gaps/cnaps-logs?envName=cnaps32",true)

nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" aria-expanded="false")
            span.sr-only
              Toggle navigation
            span.icon-bar
          a.navbar-brand(href='/')
            | 大前置管理
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            +OptionActive(navbarIndex)